@import "~bootstrap/scss/bootstrap";

#hook {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#header-nav{
    padding: 0px;
    min-height: 50px;
    position: sticky;
    top: 0;
    z-index: 1;
    flex: 0 0 50px;
    padding-left: 25px;
}
#header-ul{
    width: 100%;
}
#header-div-2{
    width: fit-content;
    flex: 0 0 auto;
}
#central-div-grid{
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 100%;
    padding: 100px;
    background-color: lightgray;
    
    transition: background-color;
    transition-duration: 2s;
}
#footer-nav{
    min-height: 50px;
    width: 100%;
    position: sticky;
    bottom: 0;
    flex: 0 0 50px;
    z-index: 1;
    border: 1px solid black;
}
button > .icon{
    width: 2rem;
    height: auto;
}
#central-div-grid > .card{
    width: 15rem;
    height: 15rem; 
    transition: box-shadow 1s ease-out;
}
/*
classes for transformation
*/
.card.card-animation{
    font-size: 30px;
    width: 30rem;
    height: 30rem;
    display: block;
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeContent 1s forwards;
    @keyframes  fadeContent {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 0.3;
        }
        100% {
          opacity: 1;
        }   
    }
    box-shadow: 20px 20px 50px 15px grey;
}
#central-div-grid.central-grid-animation{
    background-color: darkgray;
}
//
#central-div-grid > .card-mini{
    width: 30ch;
    height: 30px;
}
#central-div-grid > .mini-title{
    width: 100%;
    height: 100%;
}
#central-div-grid > .form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    align-items: center;
}
.card > .label{
    display: block;
}
.card .button{
    margin-top: auto;
    display: inline-flex;
    padding: 0;
}
.card .form .submit {
    margin-top: auto;
}
#central-div-grid > .member-div{
    display: flex;
}
.member-div .icon{
    margin-left: auto;
}
//classes for status button
button.isDone {
    background-color: green;
}
button.isNotDone {
    background-color: red; 
}