@import "~bootstrap/scss/bootstrap";
#header-nav{
    min-height: 50px;
}
#footer-nav{
    min-height: 50px;
}
.card .icon{
    width: 2rem;
    height: auto;
}
.card .button{
    display: inline-flex;
    padding: 0;
}
form>input{
    display: block;
}
//classes for status button
.isDone {
    background-color: green;
}
.isNotDone {
    background-color: red; 
}