@import "~bootstrap/scss/bootstrap";
#hook {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#header-nav{
    min-height: 50px;
    position: sticky;
    top: 0;
    z-index: 1;

}
#header-ul{
    width: 100%;
}
#header-div-2{
    width: fit-content;
    flex: 0 0 auto;
}
#central-div-grid{
    min-height: 50px;
    flex: 1;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5,auto);
}
#footer-nav{
    min-height: 50px;
}
.card{
    width: 18rem;
    height: 18rem;
}
.card .icon{
    width: 2rem;
    height: auto;
}
.card .button{
    margin-top: auto;
    display: inline-flex;
    padding: 0;
}
form>input{
    display: block;
}
//classes for status button
.isDone {
    background-color: green;
}
.isNotDone {
    background-color: red; 
}