@import "~bootstrap/scss/bootstrap";

#hook {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#header-nav{
    min-height: 60px;
    position: sticky;
    top: 0;
    z-index: 1;
    flex: 0 0 50px;
    padding-left: 25px;
}
#header-ul{
    width: 100%;
}
#header-div-2{
    width: fit-content;
    flex: 0 0 auto;
}
#central-div-grid{
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 100%;
    padding: 100px;
    background-color: lightgray;
    
    transition: background-color;
    transition-duration: 2s;
}
#footer-nav{
    min-height: 50px;
    width: 100%;
    position: sticky;
    bottom: 0;
    flex: 0 0 50px;
    z-index: 1;
    border: 1px solid black;
}
button > .icon{
    width: 2rem;
    height: auto;
}
#central-div-grid > .card{
    width: 20rem;
    height: 20rem; 
    transition: box-shadow 1s ease-out;
}
.card-body > p:first-of-type{
    max-height: 100px;
    overflow: scroll;
}
.card-animation > .card-body > p:first-of-type{
    max-height: 450px;
}
/*
classes for transformation
*/
#central-div-grid > .card.card-animation{
    font-size: 24px;
    width: 45rem;
    height: 45rem;
    display: block;
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeContent 1s forwards;
    @keyframes  fadeContent {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 0.3;
        }
        100% {
          opacity: 1;
        }   
    }
    box-shadow: 20px 20px 50px 20px black;
}
#central-div-grid.central-grid-animation{
    background-color: darkgray;
}

#central-div-grid > .card-mini{
    width: 30ch;
    height: 30px;
}
#central-div-grid > .mini-title{
    width: 100%;
    height: 100%;
}
//form style
#central-div-grid > .form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 30%;
    align-items: center;
}
.form .description-input{
    min-height: 70px;
}
.card-animation > .form .description-input{
    min-height: 400px;
}
.form .form-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
}
.card .form .submit {
    margin-top: auto;
}
.card .button{
    margin-top: auto;
    display: inline-flex;
    padding: 0;
}
#central-div-grid > .member-div{
    display: flex;
}
.member-div .icon{
    margin-left: auto;
}
.card-animation .form .label {
    font-size: small;
}
//classes for status button
button.isDone {
    background-color: green;
}
button.isNotDone {
    background-color: red; 
}

#lat-bar-div{
    background-color: rgb(226, 207, 171);
    padding: 10px;
    margin-right: 10px;
    margin-left: -100px;
    margin-top: -100px;
    height: fit-content;
}

#enroll-div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    padding: 10px;
}